<h1>{{title}}</h1>
<p>Do you like movies too?</p>
<a href='/movies'>Go to Movie Reviews</p>
<img style="pointer-events:none;" src="http://www.catster.com/wp-content/uploads/2015/06/movies.jpg" alt="Cat popcorn">
